--
-- PostgreSQL database dump
--

\restrict 6xJBvLcYC4KHL3WmoXdTOBHJKMoB86QrAHvMIAHIi2IecZCbb5VrF9OQr6zmM6O

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: learning; Type: SCHEMA; Schema: -; Owner: rsl_user
--

CREATE SCHEMA learning;


ALTER SCHEMA learning OWNER TO rsl_user;

--
-- Name: linguistic; Type: SCHEMA; Schema: -; Owner: rsl_user
--

CREATE SCHEMA linguistic;


ALTER SCHEMA linguistic OWNER TO rsl_user;

--
-- Name: invalidate_theme_materials_after_vocabulary_change(); Type: FUNCTION; Schema: learning; Owner: rsl_user
--

CREATE FUNCTION learning.invalidate_theme_materials_after_vocabulary_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
declare
    changed_theme_id bigint;
begin
    changed_theme_id := coalesce(new.theme_id, old.theme_id);

    delete from learning.exercise_reviews
    where exercise_id in (
        select id
        from learning.exercises
        where theme_id = changed_theme_id
    );

    delete from learning.exercise_segments
    where exercise_id in (
        select id
        from learning.exercises
        where theme_id = changed_theme_id
    );

    delete from learning.exercises
    where theme_id = changed_theme_id;

    delete from learning.generation_rejections
    where theme_id = changed_theme_id;

    return coalesce(new, old);
end;
$$;


ALTER FUNCTION learning.invalidate_theme_materials_after_vocabulary_change() OWNER TO rsl_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.audit_logs (
    id bigint NOT NULL,
    user_id bigint,
    action text NOT NULL,
    entity_type text NOT NULL,
    entity_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.audit_logs OWNER TO rsl_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.audit_logs_id_seq OWNER TO rsl_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.audit_logs_id_seq OWNED BY learning.audit_logs.id;


--
-- Name: courses; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.courses (
    id bigint NOT NULL,
    title text NOT NULL,
    description text,
    status text DEFAULT 'draft'::text NOT NULL,
    created_by bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.courses OWNER TO rsl_user;

--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.courses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.courses_id_seq OWNER TO rsl_user;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.courses_id_seq OWNED BY learning.courses.id;


--
-- Name: exercise_reviews; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.exercise_reviews (
    id bigint NOT NULL,
    exercise_id bigint NOT NULL,
    reviewer_id bigint NOT NULL,
    decision text NOT NULL,
    comment text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.exercise_reviews OWNER TO rsl_user;

--
-- Name: exercise_reviews_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.exercise_reviews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.exercise_reviews_id_seq OWNER TO rsl_user;

--
-- Name: exercise_reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.exercise_reviews_id_seq OWNED BY learning.exercise_reviews.id;


--
-- Name: exercise_segments; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.exercise_segments (
    id bigint NOT NULL,
    exercise_id bigint NOT NULL,
    source_segment_id bigint NOT NULL,
    translated_word_id bigint NOT NULL,
    word_text text NOT NULL,
    gesture_name text NOT NULL,
    video_url text,
    answer_visible boolean NOT NULL,
    position_index integer NOT NULL
);


ALTER TABLE learning.exercise_segments OWNER TO rsl_user;

--
-- Name: exercise_segments_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.exercise_segments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.exercise_segments_id_seq OWNER TO rsl_user;

--
-- Name: exercise_segments_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.exercise_segments_id_seq OWNED BY learning.exercise_segments.id;


--
-- Name: exercises; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.exercises (
    id bigint NOT NULL,
    theme_id bigint NOT NULL,
    lit_example_id bigint NOT NULL,
    exercise_type text NOT NULL,
    target_mode text NOT NULL,
    phrase text NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    explanation text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.exercises OWNER TO rsl_user;

--
-- Name: exercises_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.exercises_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.exercises_id_seq OWNER TO rsl_user;

--
-- Name: exercises_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.exercises_id_seq OWNED BY learning.exercises.id;


--
-- Name: generation_rejections; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.generation_rejections (
    id bigint NOT NULL,
    generation_run_id bigint NOT NULL,
    theme_id bigint NOT NULL,
    lit_example_id bigint NOT NULL,
    example_text text NOT NULL,
    reason_code character varying(80) NOT NULL,
    reason_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.generation_rejections OWNER TO rsl_user;

--
-- Name: generation_rejections_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.generation_rejections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.generation_rejections_id_seq OWNER TO rsl_user;

--
-- Name: generation_rejections_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.generation_rejections_id_seq OWNED BY learning.generation_rejections.id;


--
-- Name: generation_runs; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.generation_runs (
    id bigint NOT NULL,
    theme_id bigint NOT NULL,
    started_by bigint NOT NULL,
    status text NOT NULL,
    found_examples integer DEFAULT 0 NOT NULL,
    generated_exercises integer DEFAULT 0 NOT NULL,
    rejected_examples integer DEFAULT 0 NOT NULL,
    duration_ms integer DEFAULT 0 NOT NULL,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    skipped_examples integer DEFAULT 0 NOT NULL
);


ALTER TABLE learning.generation_runs OWNER TO rsl_user;

--
-- Name: generation_runs_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.generation_runs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.generation_runs_id_seq OWNER TO rsl_user;

--
-- Name: generation_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.generation_runs_id_seq OWNED BY learning.generation_runs.id;


--
-- Name: roles; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.roles (
    id bigint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE learning.roles OWNER TO rsl_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.roles_id_seq OWNER TO rsl_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.roles_id_seq OWNED BY learning.roles.id;


--
-- Name: theme_translated_words; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.theme_translated_words (
    id bigint NOT NULL,
    theme_id bigint NOT NULL,
    translated_word_id bigint NOT NULL,
    difficulty_level integer DEFAULT 1 NOT NULL,
    is_required boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.theme_translated_words OWNER TO rsl_user;

--
-- Name: theme_translated_words_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.theme_translated_words_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.theme_translated_words_id_seq OWNER TO rsl_user;

--
-- Name: theme_translated_words_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.theme_translated_words_id_seq OWNED BY learning.theme_translated_words.id;


--
-- Name: themes; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.themes (
    id bigint NOT NULL,
    course_id bigint NOT NULL,
    title text NOT NULL,
    description text,
    order_index integer NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.themes OWNER TO rsl_user;

--
-- Name: themes_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.themes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.themes_id_seq OWNER TO rsl_user;

--
-- Name: themes_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.themes_id_seq OWNED BY learning.themes.id;


--
-- Name: users; Type: TABLE; Schema: learning; Owner: rsl_user
--

CREATE TABLE learning.users (
    id bigint NOT NULL,
    role_id bigint NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    full_name text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE learning.users OWNER TO rsl_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: learning; Owner: rsl_user
--

CREATE SEQUENCE learning.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE learning.users_id_seq OWNER TO rsl_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: learning; Owner: rsl_user
--

ALTER SEQUENCE learning.users_id_seq OWNED BY learning.users.id;


--
-- Name: concepts; Type: TABLE; Schema: linguistic; Owner: rsl_user
--

CREATE TABLE linguistic.concepts (
    id bigint NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE linguistic.concepts OWNER TO rsl_user;

--
-- Name: concepts_id_seq; Type: SEQUENCE; Schema: linguistic; Owner: rsl_user
--

CREATE SEQUENCE linguistic.concepts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE linguistic.concepts_id_seq OWNER TO rsl_user;

--
-- Name: concepts_id_seq; Type: SEQUENCE OWNED BY; Schema: linguistic; Owner: rsl_user
--

ALTER SEQUENCE linguistic.concepts_id_seq OWNED BY linguistic.concepts.id;


--
-- Name: gestures; Type: TABLE; Schema: linguistic; Owner: rsl_user
--

CREATE TABLE linguistic.gestures (
    id bigint NOT NULL,
    concept_id bigint NOT NULL,
    name text NOT NULL,
    video_url text,
    description text
);


ALTER TABLE linguistic.gestures OWNER TO rsl_user;

--
-- Name: gestures_id_seq; Type: SEQUENCE; Schema: linguistic; Owner: rsl_user
--

CREATE SEQUENCE linguistic.gestures_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE linguistic.gestures_id_seq OWNER TO rsl_user;

--
-- Name: gestures_id_seq; Type: SEQUENCE OWNED BY; Schema: linguistic; Owner: rsl_user
--

ALTER SEQUENCE linguistic.gestures_id_seq OWNED BY linguistic.gestures.id;


--
-- Name: lit_example_segments; Type: TABLE; Schema: linguistic; Owner: rsl_user
--

CREATE TABLE linguistic.lit_example_segments (
    id bigint NOT NULL,
    lit_example_id bigint NOT NULL,
    translated_word_id bigint NOT NULL,
    text text NOT NULL,
    position_index integer NOT NULL
);


ALTER TABLE linguistic.lit_example_segments OWNER TO rsl_user;

--
-- Name: lit_example_segments_id_seq; Type: SEQUENCE; Schema: linguistic; Owner: rsl_user
--

CREATE SEQUENCE linguistic.lit_example_segments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE linguistic.lit_example_segments_id_seq OWNER TO rsl_user;

--
-- Name: lit_example_segments_id_seq; Type: SEQUENCE OWNED BY; Schema: linguistic; Owner: rsl_user
--

ALTER SEQUENCE linguistic.lit_example_segments_id_seq OWNED BY linguistic.lit_example_segments.id;


--
-- Name: lit_examples; Type: TABLE; Schema: linguistic; Owner: rsl_user
--

CREATE TABLE linguistic.lit_examples (
    id bigint NOT NULL,
    text text NOT NULL,
    source text,
    status text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE linguistic.lit_examples OWNER TO rsl_user;

--
-- Name: lit_examples_id_seq; Type: SEQUENCE; Schema: linguistic; Owner: rsl_user
--

CREATE SEQUENCE linguistic.lit_examples_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE linguistic.lit_examples_id_seq OWNER TO rsl_user;

--
-- Name: lit_examples_id_seq; Type: SEQUENCE OWNED BY; Schema: linguistic; Owner: rsl_user
--

ALTER SEQUENCE linguistic.lit_examples_id_seq OWNED BY linguistic.lit_examples.id;


--
-- Name: translated_words; Type: TABLE; Schema: linguistic; Owner: rsl_user
--

CREATE TABLE linguistic.translated_words (
    id bigint NOT NULL,
    word_id bigint NOT NULL,
    concept_id bigint NOT NULL,
    gesture_id bigint,
    display_text text NOT NULL
);


ALTER TABLE linguistic.translated_words OWNER TO rsl_user;

--
-- Name: translated_words_id_seq; Type: SEQUENCE; Schema: linguistic; Owner: rsl_user
--

CREATE SEQUENCE linguistic.translated_words_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE linguistic.translated_words_id_seq OWNER TO rsl_user;

--
-- Name: translated_words_id_seq; Type: SEQUENCE OWNED BY; Schema: linguistic; Owner: rsl_user
--

ALTER SEQUENCE linguistic.translated_words_id_seq OWNED BY linguistic.translated_words.id;


--
-- Name: words; Type: TABLE; Schema: linguistic; Owner: rsl_user
--

CREATE TABLE linguistic.words (
    id bigint NOT NULL,
    name text NOT NULL,
    normalized_name text NOT NULL
);


ALTER TABLE linguistic.words OWNER TO rsl_user;

--
-- Name: words_id_seq; Type: SEQUENCE; Schema: linguistic; Owner: rsl_user
--

CREATE SEQUENCE linguistic.words_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE linguistic.words_id_seq OWNER TO rsl_user;

--
-- Name: words_id_seq; Type: SEQUENCE OWNED BY; Schema: linguistic; Owner: rsl_user
--

ALTER SEQUENCE linguistic.words_id_seq OWNED BY linguistic.words.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.audit_logs ALTER COLUMN id SET DEFAULT nextval('learning.audit_logs_id_seq'::regclass);


--
-- Name: courses id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.courses ALTER COLUMN id SET DEFAULT nextval('learning.courses_id_seq'::regclass);


--
-- Name: exercise_reviews id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_reviews ALTER COLUMN id SET DEFAULT nextval('learning.exercise_reviews_id_seq'::regclass);


--
-- Name: exercise_segments id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_segments ALTER COLUMN id SET DEFAULT nextval('learning.exercise_segments_id_seq'::regclass);


--
-- Name: exercises id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercises ALTER COLUMN id SET DEFAULT nextval('learning.exercises_id_seq'::regclass);


--
-- Name: generation_rejections id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_rejections ALTER COLUMN id SET DEFAULT nextval('learning.generation_rejections_id_seq'::regclass);


--
-- Name: generation_runs id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_runs ALTER COLUMN id SET DEFAULT nextval('learning.generation_runs_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.roles ALTER COLUMN id SET DEFAULT nextval('learning.roles_id_seq'::regclass);


--
-- Name: theme_translated_words id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.theme_translated_words ALTER COLUMN id SET DEFAULT nextval('learning.theme_translated_words_id_seq'::regclass);


--
-- Name: themes id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.themes ALTER COLUMN id SET DEFAULT nextval('learning.themes_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.users ALTER COLUMN id SET DEFAULT nextval('learning.users_id_seq'::regclass);


--
-- Name: concepts id; Type: DEFAULT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.concepts ALTER COLUMN id SET DEFAULT nextval('linguistic.concepts_id_seq'::regclass);


--
-- Name: gestures id; Type: DEFAULT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.gestures ALTER COLUMN id SET DEFAULT nextval('linguistic.gestures_id_seq'::regclass);


--
-- Name: lit_example_segments id; Type: DEFAULT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.lit_example_segments ALTER COLUMN id SET DEFAULT nextval('linguistic.lit_example_segments_id_seq'::regclass);


--
-- Name: lit_examples id; Type: DEFAULT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.lit_examples ALTER COLUMN id SET DEFAULT nextval('linguistic.lit_examples_id_seq'::regclass);


--
-- Name: translated_words id; Type: DEFAULT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.translated_words ALTER COLUMN id SET DEFAULT nextval('linguistic.translated_words_id_seq'::regclass);


--
-- Name: words id; Type: DEFAULT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.words ALTER COLUMN id SET DEFAULT nextval('linguistic.words_id_seq'::regclass);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: exercise_reviews exercise_reviews_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_reviews
    ADD CONSTRAINT exercise_reviews_pkey PRIMARY KEY (id);


--
-- Name: exercise_segments exercise_segments_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_segments
    ADD CONSTRAINT exercise_segments_pkey PRIMARY KEY (id);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (id);


--
-- Name: generation_rejections generation_rejections_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_rejections
    ADD CONSTRAINT generation_rejections_pkey PRIMARY KEY (id);


--
-- Name: generation_runs generation_runs_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_runs
    ADD CONSTRAINT generation_runs_pkey PRIMARY KEY (id);


--
-- Name: roles roles_code_key; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.roles
    ADD CONSTRAINT roles_code_key UNIQUE (code);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: theme_translated_words theme_translated_words_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.theme_translated_words
    ADD CONSTRAINT theme_translated_words_pkey PRIMARY KEY (id);


--
-- Name: theme_translated_words theme_translated_words_theme_id_translated_word_id_key; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.theme_translated_words
    ADD CONSTRAINT theme_translated_words_theme_id_translated_word_id_key UNIQUE (theme_id, translated_word_id);


--
-- Name: themes themes_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.themes
    ADD CONSTRAINT themes_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: concepts concepts_pkey; Type: CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.concepts
    ADD CONSTRAINT concepts_pkey PRIMARY KEY (id);


--
-- Name: gestures gestures_pkey; Type: CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.gestures
    ADD CONSTRAINT gestures_pkey PRIMARY KEY (id);


--
-- Name: lit_example_segments lit_example_segments_pkey; Type: CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.lit_example_segments
    ADD CONSTRAINT lit_example_segments_pkey PRIMARY KEY (id);


--
-- Name: lit_examples lit_examples_pkey; Type: CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.lit_examples
    ADD CONSTRAINT lit_examples_pkey PRIMARY KEY (id);


--
-- Name: translated_words translated_words_pkey; Type: CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.translated_words
    ADD CONSTRAINT translated_words_pkey PRIMARY KEY (id);


--
-- Name: words words_pkey; Type: CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.words
    ADD CONSTRAINT words_pkey PRIMARY KEY (id);


--
-- Name: idx_exercises_example; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE INDEX idx_exercises_example ON learning.exercises USING btree (lit_example_id);


--
-- Name: idx_exercises_theme; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE INDEX idx_exercises_theme ON learning.exercises USING btree (theme_id);


--
-- Name: idx_exercises_theme_example_mode_unique; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE UNIQUE INDEX idx_exercises_theme_example_mode_unique ON learning.exercises USING btree (theme_id, lit_example_id, target_mode);


--
-- Name: idx_generation_rejections_run; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE INDEX idx_generation_rejections_run ON learning.generation_rejections USING btree (generation_run_id);


--
-- Name: idx_generation_rejections_theme; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE INDEX idx_generation_rejections_theme ON learning.generation_rejections USING btree (theme_id);


--
-- Name: idx_generation_runs_theme; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE INDEX idx_generation_runs_theme ON learning.generation_runs USING btree (theme_id);


--
-- Name: idx_theme_translated_words_theme; Type: INDEX; Schema: learning; Owner: rsl_user
--

CREATE INDEX idx_theme_translated_words_theme ON learning.theme_translated_words USING btree (theme_id);


--
-- Name: idx_lit_example_segments_example; Type: INDEX; Schema: linguistic; Owner: rsl_user
--

CREATE INDEX idx_lit_example_segments_example ON linguistic.lit_example_segments USING btree (lit_example_id);


--
-- Name: idx_lit_example_segments_tw; Type: INDEX; Schema: linguistic; Owner: rsl_user
--

CREATE INDEX idx_lit_example_segments_tw ON linguistic.lit_example_segments USING btree (translated_word_id);


--
-- Name: theme_translated_words trg_invalidate_theme_materials_after_vocabulary_delete; Type: TRIGGER; Schema: learning; Owner: rsl_user
--

CREATE TRIGGER trg_invalidate_theme_materials_after_vocabulary_delete AFTER DELETE ON learning.theme_translated_words FOR EACH ROW EXECUTE FUNCTION learning.invalidate_theme_materials_after_vocabulary_change();


--
-- Name: theme_translated_words trg_invalidate_theme_materials_after_vocabulary_insert; Type: TRIGGER; Schema: learning; Owner: rsl_user
--

CREATE TRIGGER trg_invalidate_theme_materials_after_vocabulary_insert AFTER INSERT ON learning.theme_translated_words FOR EACH ROW EXECUTE FUNCTION learning.invalidate_theme_materials_after_vocabulary_change();


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES learning.users(id);


--
-- Name: courses courses_created_by_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.courses
    ADD CONSTRAINT courses_created_by_fkey FOREIGN KEY (created_by) REFERENCES learning.users(id);


--
-- Name: exercise_reviews exercise_reviews_exercise_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_reviews
    ADD CONSTRAINT exercise_reviews_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES learning.exercises(id);


--
-- Name: exercise_reviews exercise_reviews_reviewer_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_reviews
    ADD CONSTRAINT exercise_reviews_reviewer_id_fkey FOREIGN KEY (reviewer_id) REFERENCES learning.users(id);


--
-- Name: exercise_segments exercise_segments_exercise_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercise_segments
    ADD CONSTRAINT exercise_segments_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES learning.exercises(id);


--
-- Name: exercises exercises_theme_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.exercises
    ADD CONSTRAINT exercises_theme_id_fkey FOREIGN KEY (theme_id) REFERENCES learning.themes(id);


--
-- Name: generation_rejections generation_rejections_generation_run_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_rejections
    ADD CONSTRAINT generation_rejections_generation_run_id_fkey FOREIGN KEY (generation_run_id) REFERENCES learning.generation_runs(id) ON DELETE CASCADE;


--
-- Name: generation_rejections generation_rejections_lit_example_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_rejections
    ADD CONSTRAINT generation_rejections_lit_example_id_fkey FOREIGN KEY (lit_example_id) REFERENCES linguistic.lit_examples(id) ON DELETE CASCADE;


--
-- Name: generation_rejections generation_rejections_theme_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_rejections
    ADD CONSTRAINT generation_rejections_theme_id_fkey FOREIGN KEY (theme_id) REFERENCES learning.themes(id) ON DELETE CASCADE;


--
-- Name: generation_runs generation_runs_started_by_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_runs
    ADD CONSTRAINT generation_runs_started_by_fkey FOREIGN KEY (started_by) REFERENCES learning.users(id);


--
-- Name: generation_runs generation_runs_theme_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.generation_runs
    ADD CONSTRAINT generation_runs_theme_id_fkey FOREIGN KEY (theme_id) REFERENCES learning.themes(id);


--
-- Name: theme_translated_words theme_translated_words_theme_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.theme_translated_words
    ADD CONSTRAINT theme_translated_words_theme_id_fkey FOREIGN KEY (theme_id) REFERENCES learning.themes(id);


--
-- Name: themes themes_course_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.themes
    ADD CONSTRAINT themes_course_id_fkey FOREIGN KEY (course_id) REFERENCES learning.courses(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: learning; Owner: rsl_user
--

ALTER TABLE ONLY learning.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES learning.roles(id);


--
-- Name: gestures gestures_concept_id_fkey; Type: FK CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.gestures
    ADD CONSTRAINT gestures_concept_id_fkey FOREIGN KEY (concept_id) REFERENCES linguistic.concepts(id);


--
-- Name: lit_example_segments lit_example_segments_lit_example_id_fkey; Type: FK CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.lit_example_segments
    ADD CONSTRAINT lit_example_segments_lit_example_id_fkey FOREIGN KEY (lit_example_id) REFERENCES linguistic.lit_examples(id);


--
-- Name: lit_example_segments lit_example_segments_translated_word_id_fkey; Type: FK CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.lit_example_segments
    ADD CONSTRAINT lit_example_segments_translated_word_id_fkey FOREIGN KEY (translated_word_id) REFERENCES linguistic.translated_words(id);


--
-- Name: translated_words translated_words_concept_id_fkey; Type: FK CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.translated_words
    ADD CONSTRAINT translated_words_concept_id_fkey FOREIGN KEY (concept_id) REFERENCES linguistic.concepts(id);


--
-- Name: translated_words translated_words_gesture_id_fkey; Type: FK CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.translated_words
    ADD CONSTRAINT translated_words_gesture_id_fkey FOREIGN KEY (gesture_id) REFERENCES linguistic.gestures(id);


--
-- Name: translated_words translated_words_word_id_fkey; Type: FK CONSTRAINT; Schema: linguistic; Owner: rsl_user
--

ALTER TABLE ONLY linguistic.translated_words
    ADD CONSTRAINT translated_words_word_id_fkey FOREIGN KEY (word_id) REFERENCES linguistic.words(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6xJBvLcYC4KHL3WmoXdTOBHJKMoB86QrAHvMIAHIi2IecZCbb5VrF9OQr6zmM6O

